.placeholder-style {
  @apply animate-pulse rounded-lg bg-gray-400;

  &:not(:last-child):not(.category) {
    @apply mb-5;
  }
}

/* comes from Card css */
.card {
  .placeholder-cover {
    @apply placeholder-style h-60 w-full;
  }

  .placeholder-date {
    @apply placeholder-style h-3 w-32;
  }

  .placeholder-title {
    @apply placeholder-style h-6 w-80 text-3xl  font-bold text-white;
  }

  .placeholder-section {
    @apply mb-3;

    .category {
      @apply placeholder-style mr-5 inline-block h-6 w-16;
    }
  }

  .placeholder-button {
    @apply placeholder-style inline-block h-12 w-full;
  }
}
