.search-block {
  @apply relative mx-auto my-5 w-10/12
      rounded-xl bg-white/10 p-3 backdrop-blur-md xl:mb-8 xl:mt-16 xl:px-5 xl:py-4;
}
.error-wrapper {
  @apply mb-2 bg-red-700/90 px-3 py-2 shadow-sm shadow-black/50;
  position: absolute;
  top: 7rem;
}
.error-msg {
  @apply inline-block text-center text-base text-white;
}
.grid-wrapper {
  @apply grid grid-cols-3 gap-2 xl:grid-cols-6;
}
.inputError {
  @apply border border-red-900;
}
.input-styling {
  @apply rounded-sm bg-black/30 p-2 text-white xl:pl-3;
  -webkit-box-shadow: inset 0px 0px 15px -2px #000000;
  box-shadow: inset 0px 0px 15px -2px #000000;
  option {
    @apply bg-zinc-800 pb-3;
  }
}
