.about-wrapper {
  @apply text-base text-justify;

  p {
    @apply mb-8;
  }

  a {
    @apply font-semibold underline hover:no-underline;
  }

  .capitular {
    @apply text-2xl;
  }
}
