.placeholder-style {
  @apply bg-gray-400 rounded-lg animate-pulse;

  &:not(:last-child):not(.category) {
    @apply mb-5;
  }
}

/* comes from Card css */
.card {
  .placeholder-cover {
    @apply placeholder-style w-full h-60;
  }

  .placeholder-date {
    @apply placeholder-style w-32 h-3;
  }

  .placeholder-title {
    @apply placeholder-style text-3xl font-bold text-white  w-80 h-6;
  }

  .placeholder-section {
    @apply mb-3;

    .category {
      @apply placeholder-style inline-block mr-5 w-16 h-6;
    }
  }

  .placeholder-button {
    @apply placeholder-style inline-block w-full h-12;
  }
}
