.categories-wrapper, .single-event--cover, .single-event--description {
  @apply mb-5;
}

.single-event--wrapper {
  @apply mx-auto w-5/6 bg-black/60 p-8 rounded-md;

  .section-title {
    @apply ml-0;
  }
}

.single-event--header {
  @apply flex items-baseline justify-between my-5;

  .date {
    @apply text-xl;
  }
}

.categories-wrapper {
  @apply ml-3;
}

.single-event--cover {
  @apply mx-auto max-w-full rounded-md;
}

.single-event--description {
  @apply whitespace-pre-wrap text-lg;
}

