.categories-wrapper, .single-event--cover, .single-event--description {
  @apply mb-5;
}

.single-event--wrapper {
  @apply mx-auto w-4/6 bg-black/60 p-8 rounded-md;

  .section-title {
    @apply ml-0 mb-5;
  }
}

.single-event--header {
  @apply flex;
}

.categories-wrapper {
  @apply ml-3;
}

.single-event--cover {
  @apply mx-auto max-w-full;
}

.single-event--description {
  @apply text-lg;
}

