.pagination {
  @apply mb-5 flex justify-center gap-3 px-5;

  .button {
    @apply inline-block w-[initial];
    background-color: var(--pink-2);

    &.active {
      background-color: var(--dark-pink);
      @apply hover:cursor-default;
    }
  }
}
