
// Only my custom CSS
	// Reset
	* {
		box-sizing: border-box;
	}

	p {
		line-height: initial;
		margin: 0;
	}

	section {
		width: 100%;
    position:relative;
	}

	h1 {
		width: 100%;
	}

	ul {
		margin: 0;
    padding: 0;
	}

	li {
		display: inline-block;
	}

// Utils
.img-fluid {
  max-width: 100%;
}

.no-padding {
  padding: 0;
}

.container {
  margin: 0 auto;
	position:relative;
  // border: 1px dotted red;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body {
  background-color: $black-pallete;
  background-image: url('sextou_paper.jpg');
}



.mdc-text-field {
	--mdc-theme-primary: $primary-color;
}


.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
	color: $primary-color;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
	color: $primary-color;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled), .mdc-select--filled:not(.mdc-select--disabled) .mdc-select__anchor {
	// background-color: transparent;
	background-color: rgba(black, 0.1);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-select--filled:not(.mdc-select--disabled) .mdc-line-ripple::before {
	border-bottom: 0;
}

.mdc-text-field--filled .mdc-line-ripple::after,
.mdc-select--filled:not(.mdc-select--disabled) .mdc-line-ripple::after {
	border-bottom-color: $primary-color;
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-select__dropdown-icon {
	fill: $primary-color;
}

.mdc-menu-surface {
	background-color: $white-pallete;
}

.mdc-card, .smui-paper {
	background-color:  $black-pallete;
}

.mdc-icon-button::before, .mdc-icon-button::after {
	--mdc-ripple-color: white;
}