.button {
  @apply flex w-full items-center justify-center rounded-md
  bg-[var(--purple-50)] p-3 text-xl font-medium text-[var(--gray-800)] xl:p-3;

  &.free {
    @apply border border-[var(--green)] bg-[var(--dark-green)];
  }

  &:disabled {
    @apply border-none bg-[var(--purple-900)] opacity-70;
  }
}

.pill {
  @apply rounded-md px-2 py-1 text-xs uppercase;
  box-shadow: var(--material-shadow-md-1), var(--material-shadow-md-2);
  background-color: var(--dark-pink);
  color: var(--pink-2);

  &:hover {
    background-color: rgba(55, 2, 65, 0.3);
    color: rgba(255, 0, 204, 0.8);
    box-shadow: none;
  }

  &.highlight {
    @apply text-amber-500 hover:bg-amber-900/20;
  }
}
