.button-shadow {
  box-shadow: var(--material-shadow-md-1), var(--material-shadow-md-2);
}
.button {
  button {
    background-color: var(--purple);

    @apply w-full rounded-md button-shadow p-3 xl:p-3 font-bold uppercase tracking-widest flex justify-center items-center;
  }

  &.highlight {
    @apply bg-amber-500;
  }
}
