.button-shadow {
  @apply shadow-sm shadow-black;
}
.button-default {
  button {
    @apply w-full rounded-md button-shadow p-3 xl:p-3 font-bold uppercase tracking-widest flex justify-center items-center bg-amber-500;
  }

  /* &.highlight {
    @apply bg-amber-500;
  } */
}
