.pagination {
  @apply mb-5 px-5 flex justify-center;

  .button {
    @apply inline-block;

    & ~ .button {
      @apply ml-3;
    }

    button {
      @apply w-[initial];
      background-color: var(--pink-2);
    }

    &.active {
      button {
        background-color: var(--dark-pink);
        @apply hover:cursor-default;
      }
    }
  }
}
