.pagination {
  @apply mb-5 px-5 flex justify-center;

  a.link.btn-page {
    button {
      @apply inline-block w-[initial];
      background-color: var(--pink-2);
    }

    &.active {
      button {
        background-color: var(--dark-pink);
        @apply hover:cursor-default;
      }
    }

    & ~ a.link.btn-page {
      @apply ml-3;
    }
  }
}
