.section-title {
  @apply ml-3 xl:ml-8 mb-8 pl-3 xl:pl-5 -skew-x-10 border-l-[10px] xl:border-l-[15px]
			font-bold text-white text-4xl xl:text-5xl uppercase;
  letter-spacing: -2px;

  &.highlight {
    @apply border-amber-400;
  }
}
