footer {
  @apply w-full md:w-2/3 mx-auto p-4 text-xs text-center text-white bg-black/70 rounded-t-lg;

  .layout {
    a {
      border-bottom: 1px solid white;
      &:hover {
        border-bottom: none;
      }
    }
  }

  .spacing {
    @apply mb-3;
  }
}
