footer {
  @apply w-full p-4 text-xs text-center text-white bg-black/70;

  /* .legal {
    @apply ;
  } */

  .layout {
    a {
      border-bottom: 1px solid white;
      &:hover {
        border-bottom: none;
      }
    }
  }

  .spacing {
    @apply mb-3;
  }
}
