@tailwind base;
@tailwind components;
@tailwind utilities;

/**
  TAILWIND RESPONSIVE GRID

  sm - (min-width: 640px)
  md - (min-width: 768px)
  lg - (min-width: 1024px)
  xl - (min-width: 1280px)
  2xl - (min-width: 1536px)
*/

:root {
  --black: #020024;
  --pink: #ff00cc;
  --pink-2: #e810bb;
  --dark-pink: #370241;
  --dark-pink-2: #360542;
  --purple: #8421e0;
  --dark-purple: #080241;
  --green: #78bf1d;
  --dark-green: #1d2e07;
  /* box-shadow: var(--material-shadow-1), var(--material-shadow-2); */
  --material-shadow-md-1: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  --material-shadow-md-2: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  --material-shadow-strong-1: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  --material-shadow-strong-2: rgba(0, 0, 0, 0.7) 0px 1px 2px;

  font-family: "Rubik Variable", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(55, 2, 65); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: repeating-linear-gradient(
    50deg,
    var(--black) 0%,
    var(--dark-pink) 87%,
    var(--dark-purple) 100%
  );
  background-attachment: fixed;
}

.cover-surface {
  @apply rounded-lg;
  box-shadow: var(--material-shadow-md-1), var(--material-shadow-md-2);
}

.card-surface {
  @apply bg-white/20 rounded-lg p-5 relative;
  box-shadow: var(--material-shadow-strong-1), var(--material-shadow-strong-2);
}

.title {
  color: white;
}

.max-two-lines {
  /* hack to limit to 2 lines */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
